.formReserva {
    position: absolute;
    left: 100px;
    top: 75px;
    width: 75%;
  }

  .listaDisponible {
    position: absolute;
    left: 50%;
    top: 305px;
    width: 50%;
  }

  .formDisponible {
    position: absolute;
    left: 50%;
    top: 150px;
    width: 50%;
  }

  
  .tamañoListDisponible {
    position: absolute;
    left:45%;
    width: 50%;
    top:400px;
  }
  
  .tituloListVivienda {
    text-align: center;
  }
  
  .scrollDisponible {
    overflow: auto;
    height: 50vh;
  }