.formAño {
    position: relative;
    left: 70%;
    width: 25%;
}


.mensual{
    position: relative;
    left: 5%;
    width: 30%;
    bottom: 1000px;
}

.anual {
    position: relative;
    left: 49%;
    width: 50%;
    
}