/* 
.subrayado {
  color: inherit;
  text-decoration: 'none';
}

.colorLetras {
  color: white;
  font-weight: bold;
}

.colorLetrasErroes {
  color: red;
  font-weight: bold;
}

.enviarDatos {
  color: green;
  font-weight: bold; */
/* } */

/* .formPosicion {
  position: absolute;
  left: 100px;
  top: 75px;
  width: 75%;
} */

/* .listaVienda {
  position: absolute;
  left:75%;
  top:75px;
}

.tamañoListVivienda {
  position: absolute;
  left:1%;
  width: 50%;
}

.tituloListVivienda {
  text-align: center;
}

.scroll {
  overflow: auto;
  height: 90vh;
} */


